html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ddd;
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button, #score {
    margin: 24px;
    font-size: 24px;
}

#gameboard {
    border: solid black 5px;
    height: calc(3 * 240px);
    width: calc(3* 100px);
    background-color: white;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(24, 30px);
}

#game-over {
    background-color: white;
    border: solid 5px black;
    color: red;
    font-size: 48px;
    font-weight: bold;
    /* center*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* fade-in animation */
    animation: fade-in 0.5s ease-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}